@import "tailwindcss";

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
}

@layer base {
    html,
    body {
        @apply min-h-screen bg-slate-100 text-black;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    @keyframes slow-rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .animate-spin-slow {
        animation: slow-rotate 30s linear infinite;
    }

    .animate-spin-loader {
        animation: slow-rotate 3s linear infinite;
    }
}
